//
//  Framework.xcconfig
//

// Carthage build folders
BUILT_FRAMEWORKS_IOS = $(PROJECT_DIR)/Carthage/Build/iOS
BUILT_FRAMEWORKS_WATCHOS = $(PROJECT_DIR)/Carthage/Build/watchOS
BUILT_FRAMEWORKS_TVOS = $(PROJECT_DIR)/Carthage/Build/tvOS
BUILT_FRAMEWORKS_MACOS = $(PROJECT_DIR)/Carthage/Build/Mac

FRAMEWORK_SEARCH_PATHS_IOS = $(inherited) $(BUILT_FRAMEWORKS_IOS)
FRAMEWORK_SEARCH_PATHS_WATCHOS = $(inherited) $(BUILT_FRAMEWORKS_WATCHOS)
FRAMEWORK_SEARCH_PATHS_TVOS = $(inherited) $(BUILT_FRAMEWORKS_TVOS)
FRAMEWORK_SEARCH_PATHS_MACOS = $(inherited) $(BUILT_FRAMEWORKS_MACOS)

FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = $(FRAMEWORK_SEARCH_PATHS_IOS)
FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = $(FRAMEWORK_SEARCH_PATHS_IOS)

FRAMEWORK_SEARCH_PATHS[sdk=watchos*] = $(FRAMEWORK_SEARCH_PATHS_WATCHOS)
FRAMEWORK_SEARCH_PATHS[sdk=watchsimulator*] = $(FRAMEWORK_SEARCH_PATHS_WATCHOS)

FRAMEWORK_SEARCH_PATHS[sdk=appletvos*] = $(FRAMEWORK_SEARCH_PATHS_TVOS)
FRAMEWORK_SEARCH_PATHS[sdk=appletvsimulator*] = $(FRAMEWORK_SEARCH_PATHS_TVOS)

FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(FRAMEWORK_SEARCH_PATHS_MACOS)

LD_RUNPATH_SEARCH_PATHS_BASE = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS_IOS = $(LD_RUNPATH_SEARCH_PATHS_BASE) $(BUILT_FRAMEWORKS_IOS)
LD_RUNPATH_SEARCH_PATHS_WATCHOS = $(LD_RUNPATH_SEARCH_PATHS_BASE) $(BUILT_FRAMEWORKS_WATCHOS)
LD_RUNPATH_SEARCH_PATHS_TVOS = $(LD_RUNPATH_SEARCH_PATHS_BASE) $(BUILT_FRAMEWORKS_TVOS)
LD_RUNPATH_SEARCH_PATHS_MACOS = $(LD_RUNPATH_SEARCH_PATHS_BASE) $(BUILT_FRAMEWORKS_MACOS)

LD_RUNPATH_SEARCH_PATHS[sdk=iphoneos*] = $(LD_RUNPATH_SEARCH_PATHS_IOS)
LD_RUNPATH_SEARCH_PATHS[sdk=iphonesimulator*] = $(LD_RUNPATH_SEARCH_PATHS_IOS)
LD_RUNPATH_SEARCH_PATHS[sdk=watchos*] = $(LD_RUNPATH_SEARCH_PATHS_WATCHOS)
LD_RUNPATH_SEARCH_PATHS[sdk=watchsimulator*] = $(LD_RUNPATH_SEARCH_PATHS_WATCHOS)
LD_RUNPATH_SEARCH_PATHS[sdk=appletvos*] = $(LD_RUNPATH_SEARCH_PATHS_TVOS)
LD_RUNPATH_SEARCH_PATHS[sdk=appletvsimulator*] = $(LD_RUNPATH_SEARCH_PATHS_TVOS)
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(LD_RUNPATH_SEARCH_PATHS_MACOS)


